<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" src="../style/demo2.css"/>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Title</title>
    <style>
        .app7cls1 {
            background-color: #b50405
        }

        .app7cls2 {
            background-color: #07800d
        }
    </style>
</head>
<body>
    <div id="app3">
        <p v-if="saw">
            你看不到我！！！！
        </p>
    </div>
    <div id="app4">
        <ol>
            <li v-for="item in list">{{item.text}}</li>
        </ol>
    </div>

    <div id="app5">
        <p>{{message5}}</p>
        <button v-on:click="reverseMsg">翻转按钮</button>
    </div>
    
    <div id="app6">
        <input v-model="message6" type="text">
        <p>{{message6}}</p>
    </div>

    <div id="app7">
        <div v-bind:class="getCls()">{{showClass1}}</div>
        <input v-model="showClass1">
    </div>

    <div id="bpp1">
        <p>{{smallCase | formatCase}}</p>
    </div>
    <script src="../js/demo2.js"></script>

</body>
</html>